.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Times New Roman", Times, serif;
}

.notes-form {
  @media screen and (min-width: 768px) {
    width: 40vw;
  }

  @media screen and (max-width: 768px) {
    width: 80vw;
  }
}

.separator {
  height: 2px;
  background-color: black;
  border: none;
  @media screen and (min-width: 768px) {
    width: 56vw;
  }
  @media screen and (max-width: 768px) {
    width: 90vw;
  }
}

.show-more-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  color: #0275d8;
  text-decoration: underline;
}

.notes-list {
  list-style-type: none;
  padding: 0;
  @media screen and (min-width: 768px) {
    width: 50vw;
  }

  @media screen and (max-width: 768px) {
    width: 80vw;
  }
}
